*{
  margin: 0;
  padding: 0;
}

body {
  font-family: cursive;
}

h1{
  font-family: cursive;
  font-size: 50px;
}

.content{
  background-color: #96ff96;
}

.about{
  max-width: 600px;
  margin: 0 auto;
  padding: 100px 0;
  transform-style: preserve-3d;
  transform: perspective(700px);
}

.about h1{
  text-transform: uppercase;
  font-weight: 400;
}

.about h1, p {
  transition: all 0.8s ease;
}

.about.hidden h1 {
  opacity: 0;
  transform: translate3d(0, 0, 400px) rotateY(-40deg);
}
.about.hidden p {
  opacity: 0;
  transform: translate3d(0, 0, 400px) rotateY(40deg);
}

/* Style the top tabs */
.tab {
  overflow: hidden;
}

/* Style the tab buttons tab */
.tab button {
  background-color: #4B8B3B;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Styling the carousel */
.carousel {
  position:relative;
  height:600px;
  width:100%;
  margin: 0 auto;
}

.carousel-image {
  width:100%;
  height:100%;
  object-fit: cover;
}

.carousel-track-container {
  background-color: #4B8B3B;
  height:100%;  /* height of .carousel */
  position: relative;
}

.carousel-track {
  padding:0;
  margin:0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carousel-slide {
  position: absolute;
  top:0;
  bottom:0;
  width:100%;
}

.carousel-button {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
  color:white;
  font-size: 150px;
  opacity:0.7;
}

.carousel-button--right {
  right: 40px;
}

.carousel-button--left {
  left: 40px;
}

.carousel-navigation {
  background: green;
  display:flex;
  justify-content: center;
  padding: 10px 0;
}

.carousel-indicator {
  border: 0;
  border-radius: 50%;
  width: 20px;
  height:20px;
  background:grey;
  margin: 0 20px;
}

.carousel-indicator.current-slide {
  background:black;
}
