*{
  margin: 0;
  padding: 0;
}

body {
  font-family: cursive;
}

h1{
  font-family: cursive;
  font-size: 50px;
}

.content{
  background-color: #84863b;
}

.subtitle {
  height: 30px;
  border-bottom: solid 3px #c0bb4e;
  width: 90%;
  text-align: center;
  margin: 2em 0;
  font-weight: 30;
  font-size: 40px;
  color: #84863b;
}

.subtitle span {
  background: #fff;
  position: relative;
  top: 0;
  padding: 0 20px 0 20px;
  line-height:30px;
}

.about{
  margin-top: 150px;
  transform-style: preserve-3d;
  transform: perspective(700px);
}

.about h2{
  text-transform: uppercase;
  font-weight: 200;
}

.about h2, p {
  transition: all 0.8s ease;
  max-width: 700px;
}

.about.hidden h2 {
  opacity: 0;
  transform: translate3d(0, 0, 400px) rotateY(-40deg);
}
.about.hidden p {
  opacity: 0;
  transform: translate3d(0, 0, 400px) rotateY(40deg);
}

/* Style the top tabs */
.tab {
  display: flex;
  justify-content: center;
}

/* Style the tab buttons tab */
.tab button {
  background-color: #84863b;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 17px;
  transition: 0.3s;
  font-size: 17px;
  margin: 0 2px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Styling the carousel */
.carousel {
  position:relative;
  height:600px;
  width:100%;
  margin: 0 auto;
}

.carousel-image {
  width:100%;
  height:100%;
  object-fit: cover;
}

.carousel-track-container {
  background-color: #84863b;
  height:100%;  /* height of .carousel */
  position: relative;
  overflow: hidden;
}

.carousel-track {
  padding:0;
  margin:0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carousel-slide {
  position: absolute;
  top:0;
  bottom:0;
  width:100%;
}

.carousel-button {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
  color:white;
  font-size: 150px;
  opacity:0.7;
}

.carousel-button--right {
  right: 40px;
}

.carousel-button--left {
  left: 40px;
}

.carousel-navigation {
  background: white;
  display:flex;
  justify-content: center;
  padding: 30px 0;
}

.carousel-indicator {
  border: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background:#4c4c41; /*grey*/
  margin: 0 20px;
  cursor: pointer;
}

.carousel-indicator.current-slide {
  background: black;
}

.is-hidden {
  display: none;
}

/*footer styles*/
.foot {
  width:100%;
  background-color: #84863b;
  color: white;
}

.foot button {
  color: white;
  background-color: #84863b;
  border: 0;
  font-size: 1em;
  cursor: pointer;
  padding: 20px;
}

.foot button, h1{
  margin: 10px 20px;
}

/* recommended products style*/
.product-list{
  display: flex;
  list-style: none;
  margin:0 10px;
  justify-content: center;
}

.product-list img{
  justify-content: center;
  width: 250px;
  height: 250px;
  padding: 0 20px;
  cursor: pointer;
}

.product-list p {
  margin:0 20px;
  max-width: 250px;
  text-align: center;
}
